.header {
  height: 293px;
  display:grid;
  grid-template-columns:1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  padding:95px 50px 96px;
  box-sizing: border-box;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display:flex;
  gap:34px;
  list-style:circle;
  padding:0;
}

.header__links-list-item_no-bullit {
  list-style:none;
}

.header__link {
  font-style: Regular;
  font-size:18px;
  line-height:21px;
  color:#000;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: auto;
  margin-left: 38px;
}

.header__logo-image {
  width: 148px;
  display: block;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  color: #000;
}

.header__address {
  justify-self: end;
  width: 240px;
  height: 98px;
}

.address__link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address__text {
  margin: 0;
}

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  margin: 0 ;
  padding: 165px 50px 50px;
  box-sizing: border-box;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  
  color: #fff;
  text-transform: uppercase;
  
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: bold;
  line-height: 115px;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  
}

.aligned-text_left {
  text-align: left;
  align-self: flex-start; 
}

.aligned-text_center {
  text-align: center;
  align-items: center;
}

.aligned-text_right {
  text-align: right;
  align-items: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 106px;
  gap:107px;
  
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  letter-spacing: 90%;
}

.bet-button {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 32px;
  white-space: nowrap;

}

.lots {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 180px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 27px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  position:relative;
  height: 596px;
  width: 334px;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px 48px;
  box-sizing: border-box ;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin: 0;
}

.card__text {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #000;
  display: block; 
  margin-top: 30px;
  margin-left: 40px;
} 

.about {
  height: 595px;
  display: grid;
  grid-template-columns: 383px 1fr;
  gap: 25px;
  padding: 120px 50px 180px;
}

.about__column_logo {
  display: flex;
  justify-content: end;
  align-items: start;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.about__logo-image {
  width: 200px; 
}

.about__title {
  height: 47px;
  width: 291px;
  top: 3px;
  font-family: Raleway;
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 92px;
  margin-top: 101px;
  margin-left: 72px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  white-space: pre;
}

.footer {
  height: 180px;
  margin-top: 181px;
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items: start;
  padding: 181px 50px 82px;
  font-size: 18px;
  line-height: 24.3px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  display: grid;
  justify-content: center;
}

.footer__menu-list {
  display: grid;
  grid-auto-flow: row; 
  gap: 1px; 
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 48px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}


