*{

margin: 0;

padding: 0;

font-family: Arial, Helvetica, sans-serif;

}

header,main,footer{

width: 1100px;

margin: 0 auto;

}

header {

display: flex;

justify-content: space-between;

align-items:center;

height: 293px;

}

header (nav) ul {

display: flex;

list-style-type: circle;

text-transform: lowercase;

}

поменять местами мб верхн и нижн блоки

header (.logo) img{

width: 148px;

height: 105px;

}

header (nav) ul li {

margin-right: 30px;

color: black;

}

header ul li:after first-child {

list-style-type: none;

}

header ul li a{

color: black;

}

header ul li a:hover{

color: red;

}

a.active{

text-decoration: none;

}
