.header {
    display:grid;
    grid-template-columns: 1fr 130px 1fr;
    grid-template-rows: 105px;
    align-items:center;
    font-size: 18px;
    font-weight: 400;
    background-color: #fff;
    padding: 93px 22px 96px 19px;
}

.header__menu {
    justify-self: left;
}

.header__links-list {
    display: flex;
    list-style-type: circle;
    gap: 34px;
    margin-left: 33px;
    margin-top: 6px;
}

.header__link-list-item:first-of-type {
    list-style-type: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 8%;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-image {
    width: 136px;
}

.cover {
    position:relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.cover__title {
    position: relative;
    display: block;
    z-index: 2;
    padding: 162px 49px 116px 53px;
    line-height: 115px;
    letter-spacing: 0.3em;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0em;
}

.aligned-text {
    position: relative;
    display: block;
    padding-bottom: 20px;
    width: 100%;
    z-index: 2;
}

.aligned-text_center {
    text-align: center;
    line-height: 100px;
}

.aligned-text_right {
    text-align: right;
    line-height: 100px;
}

.cover__description {
    position: relative;
    display:grid;
    grid-template-columns: 1fr 305px;
    grid-template-rows: 53px;
    z-index: 1;
}

.cover__description-text {
    word-spacing: 18px;
    font-size: 22px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.bet-button {
    font-family: Raleway, sans-serif;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 33px 13px 30px;
    font-size: 22px;
    margin-right: auto;
    text-transform: uppercase;
}

.lots {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 25px;
    padding: 186px 26px 0px 24px;
}

.lots__heading {
    text-transform: uppercase;
    padding-left: 38px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    list-style: none;
    gap: 26px;
    justify-content: space-between;
    color: #fff;
}

.lots__card-list-item {
    display: flex;
    flex-grow: 1;
}

.card-link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    z-index: 0;
    padding: 54px 37px 48px 40px;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    background-position: center;
    background-size: cover;
    min-height: 563px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    text-decoration: underline;
    z-index: 2;
    justify-content: space-between;
    align-self: flex-start;
    align-content: flex-start;
}

.card__text {
    display: block;
    font-size: 20px;
    z-index: 2;
    align-self: flex-end;
    align-content: flex-end;
    justify-content: end;
    justify-self: end;
    margin-top: auto;
    line-height: 1.2;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    text-underline-offset: 10%;
    text-decoration: underline;
    padding-left: 38px;
    padding-top: 2px;
}

.about {
    display: block;
    background-color: #fff;
    padding: 181px 2px 0 42px;
}

.about__grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 240px 350px;
    grid-template-areas:
    'about__column about__title'
    '. about__text';
}

.about__column {
    display: flex;
    grid-area: about__column;
    justify-self: center;
}

.about__logo {
    display: flex;
    position: relative;
    width: 240px;
    border-radius: 50%;
    background-color: #000;
    justify-content: center;
    justify-self: center;
}

.about__logo-image {
    width: 147px;
    align-self: center;
}

.about__title {
    display: flex;
    grid-area: about__title;
    align-self: center;
    margin-left: 40px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 26px;
    grid-area: about__text;
    font-size: 20px;
    font-weight: 400;
    margin: 3px 21px 0 42px;
    line-height: 1.2;
    word-spacing: 1px;
}

.footer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
    font-weight: 400;
    padding: 148px 49px 88px 52px;
}

.footer__menu {
    justify-self: center;
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-self: end;
}

.footer__social_icon {
    height: 48px;
    width: 48px;
}

h1 {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 115px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.address {
    justify-self: left;
    line-height: 1.3;
    padding-right: 56px;
    font-style: normal;
}

.header__address {
    justify-self: right;
}

.contact {
    max-width: 210px;
    width: 100%;
    text-underline-offset: 17%;
}

.overlay {
    position: absolute;
    opacity: 60%;
    z-index: 1;
    background-color: #000;
    inset: 0;
}